@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: var(--neutral-dark);
    font-family: "Outfit", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
}

.card {
    width: 375px;
    background-color: var(--neutral-mediu);
    border-radius: 15px;
    padding: 25px;
}

.card .img-link {
    display: flex;
    position: relative;
}

.card .img-link .img-principal {
    width: 100%;
    border-radius: 8px;
}

.card .img-link::before {
    content: '';
    background-color: hsl(178, 100%, 50%);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}    

.card .img-link::after {
    content: '';
    background-image: url(../image/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card .img-link:hover::before {
    opacity: .4;
}

.card .img-link:hover::after{
    opacity: 1;
}

.card .titulo-link .titulo{
    font-size: 23px;
    color: #fff;
    margin: 25px 0 20px ;
}

.card .titulo-link .titulo:hover {
    color: var(--primary-mediu);
    transition: 0.3s ease-in-out;
}

.card .sobre {
    color: var(--primary-soft);
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 24px;
}

.card .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.card .info .valor {
    color: var(--primary-mediu);
    display: flex;
}

.card .info .valor::before {
    content: '';
    background-image: url(../image/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    display: inline-block;
    margin-right: 8px;
}

.card .info .dias {
    color: var(--primary-soft);
    display: flex;
}

.card .info .dias::before {
    content: '';
    background-image: url(../image/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    display: inline-block;
    margin-right: 8px;
}

.card .creator {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--neutral-soft);
    padding-top: 25px;
}

.card .creator .avatar {
    max-width: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 15px;
}

.card .creator .texto {
    color: var(--primary-soft);
}

.card .creator .texto .nome {
    color: #fff;
}
.card .creator .texto .nome:hover {
    color: var(--primary-mediu);
    transition: 0.3s ease-in-out;
}